## NOT ALIASES
# Obviously these are not aliases
# They are auto shit
if ! pgrep -u "$USER" ssh-agent > /dev/null; then
    ssh-agent > ~/.ssh-agent-thing
fi
if [[ "$SSH_AGENT_PID" == "" ]]; then
    eval "$(<~/.ssh-agent-thing)"
fi

##UTILITY
alias q='exit'
alias xcore='gdb -q -batch -c $1'
alias pip-upgrade-all='pip freeze --local | grep -v "^\-e" | cut -d = -f 1  | sudo xargs -n1 pip install -U'
alias pip2-upgrade-all='pip2 freeze --local | grep -v "^\-e" | cut -d = -f 1  | sudo xargs -n1 pip2 install -U'
alias vi=vim

##Directories
alias la='ls -la'
